body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}
p {
    margin: 0;
}
a{
    text-decoration: none;
}
header {
    background-color: black;
    color: #fff;
    padding: 1em;
    text-align: center;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h3{
    color:crimson;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin-right: 45px;
}
header nav a {
    color: #fff;
}
header nav a:hover {
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid crimson;
}
.icon i{
    margin-left: 35px;
}
.lang-select {
    margin-right: 20px;
}
.lang-select button {
    background-color: crimson;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.lang-select button:hover {
    background-color: white;
    color: crimson;
}
/* Hero Section Styles */
main .hero{
    background-image: url(front2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;
    height: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.hero-content {
    max-width: 800px;
    margin: 100px ;
}
.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeInTop  1s ease-in-out;
}
.hero-content p{
    font-size: 20px;
    margin-bottom: 40px;
    animation: fadeInBottom  1s ease-in-out;
}
.hero-content button {
    background-color: crimson;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
}
.hero-content button:hover{
    background-color: white;
    color: crimson;
}
.hero-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
/* Car Search Section Styles */
.car-search {
    padding: 50px 0;
}
.car-search h2 {
    text-align: center;
    margin-bottom: 20px;
}
.car-search form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(3, 62, 241, 0.406);
}
.search-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-filters select {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.search-filters button{
    background-color: rgb(0, 72, 255);
    border-radius: 25px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.search-filters button:hover {
    background-color: blue;
}
/* Services Section Styles */
.services {
    padding: 50px 0;
    margin-bottom: 20px;
}
.services h2 {
    text-align: center;
    margin-bottom: 30px;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.service {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.service img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.service h3 {
    text-align: center;
    margin-bottom: 10px;
}
.service p {
    text-align: center;
}
/* Footer Styles */
footer {
    background-color: #333
}
.detailscar{
    display: flex;
}
.car-container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.car-image {
    width: 50%;
    margin: 20px;
}
.car-image img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.car-details {
    width: 50%;
    text-align: center;
}
.car-details h2 {
    margin-bottom: 10px;
}
.car-details p {
    margin-bottom: 10px;
}
.car-details p span {
    font-weight: bold;
}
.car-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.car-details li {
    margin-bottom: 10px;
}
.car-details li::before {
    content: "\2022";
    font-size: 1.5em;
    color: #666;
    margin-right: 10px;
}
.footer {
    background-color:rgba(14, 9, 47, 0.829);
    color: #fff;
    padding: 20px 0;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section {
    width: 20%;
    margin: 30px;
}
.footer-section p{
    margin-bottom: 10px;
}
.footer-section h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-section li {
    margin-bottom: 10px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}
.footer-section a:hover {
    color: #ccc;
}
.footer-section i {
    margin-right: 10px;
}
.copyright {
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
.copyright p {
    margin: 0;
}
/* Responsive Design */
@media (max-width: 768px) {
    .footer-section {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .footer-section {
        width: 100%;
    }
}

/* .moveFromLeft { animation-name: moveFromLeft } */
@keyframes moveFromLeft {
    from{ 
        transform: translateX(-800px);
    }
}
/* .fadeInTop { animation-name: fadeInTop } */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to { 
        opacity: 1 
    }
}
.fadeInRight { animation-name: fadeInRight }
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to { opacity: 1 }
}
.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}
